* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: aquamarine;
    text-align: center;
    justify-content: space-between;
}

.navbar a {
    margin: auto;
    padding: 30px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    gap: 20px;
}

.navbar a:hover {
    transition: 1.5s;
    color: red;
}

body {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

.myFirstForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: azure;
}

.content {
    
}

.myFirstForm {
    margin: 200px 200px;
    border: solid black 10px;
    border-radius: 10px;
}

.myFirstForm input {
    width: 200px;
    height: 30px;
    box-sizing: border-box;
}

#name {
    margin-top: 20px;
}

.btn {
    margin-bottom: 10px;
    border-radius: 10px;
    width: 200px;
    height: auto;
    background-color: blue;
    align-items: center;
    display: flex;
    flex-direction: column;
}